.container-fluid {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.container-fluid nav {
  font-family: "Merriweather", serif;
  width: 100%;
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: #fff !important;
}
.container-fluid nav .navbar {
  position: fixed;
}
.container-fluid nav .navbar-brand {
  color: #92288D;
}
.container-fluid nav .navbar-nav li .nav-link {
  color: #fff;
  padding: 0 20px;
}
.container-fluid nav .navbar-nav li .nav-link:hover {
  text-decoration: none;
  background: #fff;
  color: #ba33b4 !important;
}

#main {
  width: 100%;
  padding: 0;
  margin: 0;
}
#main .carousel-inner {
  width: 100%;
}
#main .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
}
#main .carousel-inner .carousel-item .carousel-caption {
  top: 45%;
  bottom: 10%;
  color: #92288d;
  text-shadow: 2px 1px #721f6e;
}
#main .procare-slider {
  width: 100%;
}
#main .services {
  width: 100%;
  background: #92298B no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main .services .col-lg-4 {
  padding: 20px;
  color: #000;
  background: transparent;
}
#main .services .col-lg-4 .service1 {
  filter: alpha(Opacity=40);
  background: url("../img/bg2.jpg") repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  height: 180px;
  border-radius: 10px;
}
#main .services .col-lg-4 .service1 i {
  font-size: 50px;
  align-items: center;
  color: #92288d;
}
#main .services .col-lg-4 .service1 h3 {
  font-size: 20px;
  font-family: "Merriweather", serif;
  text-align: center;
  vertical-align: middle;
}
#main .services .col-lg-4 .service1 p {
  font-family: "Lato", sans-serif;
  color: #000;
}
#main .testimonials {
  width: 100%;
}
#main .testimonials .col-lg-4 {
  padding: 10px;
}
#main .testimonials .col-lg-4 .card {
  padding: 10px;
  width: 100%;
  border: 2px solid #92288d;
  text-align: center;
}
#main .testimonials .col-lg-4 .card .card-img-top {
  align-items: center;
  border-radius: 50%;
  width: 100px;
  margin: 0 auto;
}
#main .testimonials .col-lg-4 .card .btn-primary {
  background-color: #92288d;
  border: none;
}
#main .testimonials .col-lg-4 .card:hover {
  box-shadow: 10px 10px 10px #ddd;
}

footer {
  background-color: #aaa !important;
  color: #fff !important;
}
footer .col-lg-4 {
  padding: 10px;
}
footer .col-lg-4 li {
  list-style-type: none;
}
footer .col-lg-4 li a {
  color: inherit;
}
footer .col-lg-4 li a:hover {
  text-decoration: none;
  color: #6a1d66;
}
