$primary-color: #92288d;
$font-size: 14px;
$font-family-heading: 'Merriweather', serif;
$font-family-para: 'Lato', sans-serif;

.container-fluid {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;

  nav {
    font-family: $font-family-heading;
    width: 100%;
    position: absolute;
    z-index: 99;
    background-color: rgba(0,0,0,0.4) !important;
    color: #fff !important;

    .navbar {
      position: fixed;
    }

    .navbar-brand {
      color: #92288D;
    }

    .navbar-nav {
      li {
        .nav-link {
          color: #fff ;
          padding:0 20px;

          &:hover{
            text-decoration:none;
              background: #fff;
            color: lighten($primary-color, 10%) !important;

          }

        }



      }
    }
  }
}

#main {
  width: 100%;
  padding: 0;
  margin: 0;

  .carousel-inner {
    width: 100%;

    .carousel-item {
      img {
        width: 100%;
        height: 100%;
      }
      .carousel-caption{
        top:45%;
        bottom:10%;
        color: $primary-color;
        text-shadow:2px 1px darken($primary-color,8%);

      animation-duration: 6s;
        h1:first-child {
    animation-delay: 1s;
    animation-name: fadeInUp;
  animation-duration: 3s;
      }
      Button{
  animation-delay: 3s;
  animation-name: ZoomIn;
animation-duration: 1s;
    }


      }
    }
  }

  .procare-slider {
    width: 100%;
  }

  .services {
      padding: 60px 0;
    width: 100%;
    background: url("../img/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h1{
      color: darken($primary-color, 10%);
    }
    .col-lg-4 {
      padding: 20px;
      color: #000;
      background: transparent;

      .service1 {
        filter: alpha(Opacity=40);

        background: url("../img/service_texture.jpeg") repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        vertical-align: middle;
        padding: 10px;
        height: 180px;
        border-radius: 10px;

        i {
          font-size: 50px;
          align-items: center;
          color: $primary-color;
        }

        h3 {
          font-size: 20px;
          font-family: $font-family-heading;
          text-align: center;
          vertical-align: middle;
        }

        p {
          font-family: $font-family-para;
          color: #000;
        }
      }
    }
  }
.testimonials{
  width: 100%;
  padding: 80px 0;

  background: #6F4B76 repeat center center scroll;
  h1{
    color: $primary-color;
  }
  .col-lg-4{
    padding: 15px 10px;
    .card{
      padding: 10px;
      width: 100%;
      border: 2px solid $primary-color;
      border-radius: 5%;
      text-align: center;
      .card-img-top{
        align-items: center;
        border-radius: 50%;
        width:100px;
        margin: 0 auto;

      }

      .btn-primary{
        background-color: $primary-color;
        border: none;
        &:hover{
          bo-moz-box-shadow: 5px 5px 5px #999;
          -webkit-box-shadow: 5px 5px 5px #999;
          box-shadow: 5px 5px 5px #999;
            background-color:darken($primary-color, 6%);

        }
      }
      &:hover{
        bo-moz-box-shadow: 0 0 15px #999;
        -webkit-box-shadow: 0 0 15px #999;
        box-shadow: 0 0 15px #999;
      }
    }
  }

}
}
footer{
    background-color: #aaa !important;
    color: #fff !important;
    .col-lg-3,.col-lg-4,.col-lg-2{
      padding: 20px 0;
      h3{
          padding-left: 38px;
      }
      .fa{
        color:$primary-color;
        padding: 5px 4px;
      }

      li{
        list-style-type: none;
        a{
          color: inherit;
          &:hover{
            text-decoration:none;
            color: darken($primary-color, 10%);

          }
        }
      }
      }


}
